.jumbotron {
	background-color: #0066cc; 
	color: #ffffff;
    background-image: url(Navbar_clouds.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    
}
/* Add a dark blue background color with a little bit see-through */ 
.navbar {
	    margin-bottom: 0;
    background-color: #241510;
    border: 0;
    font-size: 18px !important;
    letter-spacing: 2px;
    opacity: 0.8;

}
/* Add light blue color to all navbar links */
.navbar li a, .navbar .navbar-brand {
	color: #fff !important !important;
}
/* On hover, the links will turn white */
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #0000ff !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}
/* Add a dark background color to the footer */
footer {
 background-color: #391911;
color: #fff;
padding: 32px;
    padding-right: 32px;
    padding-left: 32px;
font-size: 20px;
margin-top: 30px;
opacity: 0.9;
}

footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: white;
	opacity: 0.9;
}

#smile{
	width: 200px;
	height: 200px;
}

#total{
	background-color: black;
}